@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$text-color: #fefdc4;
$bg-color: #143f46;
$left-bar-color: #be5261;

* {
  font-family: 'Lato', sans-serif;
}

// task 3. Create needed styles below
